#content {
  position: relative;
  display: inline-block;
  padding: 5px;
  border: solid 1px;
  font-size: 1.5rem;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  animation: slide 2s forwards;
}

@keyframes slide {
  to {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)};
}